@model S_CIngenieria.Models.Seguridad.Usuarios

@{
    Layout = "_Layout"; 
}

<style>
    
    .container {
        margin-top: 50px;
    }
    .welcome-message {
        text-align: center;
        font-size: 24px;
        margin-bottom: 20px;
    }
    .user-info {
        background-color: #f8f9fa;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }
    .user-info p {
        margin: 5px 0;
    }
    .profile-image {
        display: block;
        margin: 0 auto;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
    }
</style>

<div class="container">
    <h1 class="welcome-message">Bienvenido, @ViewData["nombreUsuario"]</h1>

    @if (Model != null)
    {
        <div class="user-info">
            <p><strong>Nombre:</strong> @Model.Nombres @Model.Apellidos</p>
            <p><strong>Correo:</strong> @Model.Correo</p>
            <p><strong>Teléfono:</strong> @Model.Telefono</p>
            <p><strong>Fecha de Creación:</strong> @Model.FechaCreacion.ToShortDateString()</p>
            <p><strong>Fecha de Expiración:</strong> @Model.FechaExpira.ToShortDateString()</p>

            @if (!string.IsNullOrEmpty(Model.fotoPerfil))
            {
                <img src="@Model.fotoPerfil" alt="Foto de perfil" class="profile-image" />
            }
        </div>
    }
    else
    {
        <p>No se encontraron datos del usuario.</p>
    }
</div>